
<div>
  <div>
    <h2><%= @question.question%></h2>
    <p>Asked by: <%= find_user(@question.user_id).user_name%></p>
    <p>
     points: <%= vote_total(@question.votes) %>
    </p>
      <form method= "post" action="/questions/<%=@question.id %>/vote">
      <input type="submit" name="submit_param" value="upvote" class="button"/>
      <input type="submit" name="submit_param" value="downvote" class="button"/>
    </form>
    <br>
    <hr>
    <br>
    @answer = ""
    <% sort_by_vote(@answers).each do |value_array|%>
    <%@answer = Answer.find(value_array[0])%>
      <p><%= @answer.answer%></p>
      <p>By <%= find_user(@answer.answerer_id).user_name%></p>
      <br>
      <p> points: <%= vote_total(@answer.votes) %>
      </p>
      <br>
       <% if current_user%>
        <% if current_user.id == @answer.answerer_id%>


        <a href="/questions/<%=@question.id%>/answers/<%=@answer.id%>">Edit</a>
        <br>
         <form method= "post" action="/answers/<%=@answer.id %>/vote">
          <input type="submit" name="submit_param" value="upvote" class="button"/>
          <input type="submit" name="submit_param" value="downvote" class="button"/>
        </form>
        <br>
         <form method="post" class="delete" action= "/questions/<%=@question.id%>/answers/<%=@answer.id%>" >
          <input type = "hidden" name="_method" value = "delete"/>
          <input class="btn btn-primary" type = "submit" id="delete_button" value = "Delete"/>
        </form>

        <%end%>
      <%end%>


        <br>
        <hr>
        <br>
    <%end%>
  </div>
  <% if current_user %>
    <form method="post" id="answerform" action="/questions/<%=@question.id%>/answers">
      <input type = "textarea" id="answer_box" name = "answer">
      <br>
      <input class="btn btn-primary" type = "submit" id="answer_button" value = "Post Your Answer">

    </form>
  <% else %>
    <p>Want to comment? <a href="/login?question=<%= @question.id %>">Log In</a></p>
  <% end %>

</div>
