<div>
    <div>
        <h2><%= @question.question%></h2>
        <p>Asked by:
            <%= find_user(@question.user_id).user_name%></p>

        <button class="btn btn-primary btn-md" type="button" data-toggle="modal" data-target="#add-comment">Add A Comment</button>
        <br>
    </div>
    <!--- MODAL Comments -->
    <div id="add-comment" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Submit a Comment</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="commentform" action="/questions/<%= @question.id %>/comments">
                        <!-- <input type = "textarea" name ="question"> -->
                        <textarea class="form-control" rows="3" name="comment[comment]"></textarea>
                        <br>
                        <input class="btn btn-primary" type="submit" id="comment_button" value="Submit">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.modal -->
<ul>
<% @comments.each do |comment| %>

    <li><%= comment.comment%>  <br>
      <p>"comment by"</p>
      <br>
      <a href="#"> <%=find_user(comment.commentor_id).user_name%> </a>
    </li>
<%end%>
</ul>

<p>
    points:
    <%= vote_total(@question.votes) %>
</p>
<form method="post" action="/questions/<%=@question.id %>/vote">
    <input type="submit" name="submit_param" value="upvote" class="button"/>
    <input type="submit" name="submit_param" value="downvote" class="button"/>
</form>

<br>
<hr>
<br>
<h2>Answer</h2>

<% sort_by_vote(@answers).each do |value_array|%>
<%@answer = Answer.find(value_array[0])%>
<p><%= @answer.answer%></p>
<p>By
    <%= find_user(@answer.answerer_id).user_name%></p>
<br>
<p>
    points:
    <%= vote_total(@answer.votes) %>
</p>

<br>
<% if current_user%>
<form method="post" action="/answers/<%=@answer.id %>/vote">
    <input type="submit" name="submit_param" value="upvote" class="button"/>
    <input type="submit" name="submit_param" value="downvote" class="button"/>
</form>
<% if current_user.id == @answer.answerer_id%>

<a class="btn btn-default" href="/questions/<%=@question.id%>/answers/<%=@answer.id%>">Edit</a>
<br>

<br>
<form method="post" class="delete" action="/questions/<%=@question.id%>/answers/<%=@answer.id%>">
    <input type="hidden" name="_method" value="delete"/>
    <input class="btn btn-primary" type="submit" id="delete_button" value="Delete"/>
</form>
<%end%>
<%end%>

<div class="answer-comments">
<ul>
<% @answer.comments.each do |comment|%>
<li>
<%= comment.comment %>
<br>
  <p>"comment by"</p>
  <br
<a href="#"> <%=find_user(comment.commentor_id).user_name%> </a>
</li>
<% end %>
</ul>
</div>

<!-- copy and past and edit comment for answer -->

<button class="btn btn-primary btn-md" type="button" data-toggle="modal" data-target="#add-comment-answer">Add A Comment</button>
<br>
</div>
<!--- MODAL Comments -->
<div id="add-comment-answer" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Submit a Comment</h4>
        </div>
        <div class="modal-body">
            <form method="post" id="answer-commentform" action="/questions/<%=@question.id%>/answers/<%=@answer.id %>/comments">
                <!-- <input type = "textarea" name ="question"> -->
                <textarea class="form-control" rows="3" name="comment[comment]"></textarea>
                <br>
                <input class="btn btn-primary" type="submit" id="comment_button" value="Submit">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
</div>
<!-- /.modal -->

<!-- copy and paste comment button ends here -->

<!-- answer comments.. start here -->

<br>
<hr>
<br>
<%end%>

<!-- answer comments ends here -->
</div>
<% if current_user %>
<form method="post" id="answerform" action="/questions/<%=@question.id%>/answers">
<input type="textarea" id="answer_box" name="answer">
<br>
<input class="btn btn-primary" type="submit" id="answer_button" value="Post Your Answer">

</form>
<% else %>
<p>Want to comment?
<a href="/login?question=<%= @question.id %>">Log In</a>
</p>
<% end %>

</div>
